@import 'nativescript-theme-core/css/core.light.css';

button {
    font-size: 15;
    horizontal-align: center;
}

.drawerContentText {
    font-size: 13;
    padding: 10;
}

.drawerContentButton {
    margin: 10;
    horizontal-align: left;
}

.sideStackLayout {
    background-color: gray;
}

.sideTitleStackLayout {
    height: 56;
    text-align: center;
    vertical-align: center;
}

.sideLabel {
    padding: 10;
}

.sideLightGrayLabel {
    background-color: lightgray;
}

.font-awesome {
    font-family: "FontAwesome", fontawesome-webfont;
    font-size: 14;
    font-weight: normal;
    text-align: center;
}

.hamburger {
    width: 40;
    height: 40;
    vertical-align: center;
}

.action-label {
    color: #3C5AFD;
    font-size: 24;
    font-weight: bold;
    vertical-align: center;
}

ActionBar {
    background-color:  #3C5AFD;
    color: white;
}