<GridLayout rows="auto, *">
    <ActionBar title="My App" class="action-bar" row="0">
        <StackLayout orientation="horizontal"
                        ios:horizontalAlignment="center"
                        android:horizontalAlignment="left">
            <Button text="\uf0c9" class="font-awesome hamburger" (tap)="openDrawer()"></Button>
            <Label text="My App"  class="action-label"></Label>
            
        </StackLayout>
        <!--<ActionItem tap=""
                    ios.systemIcon="9" ios.position="left"
                    android.systemIcon="ic_menu_share" android.position="actionBar"></ActionItem>
        <ActionItem tap=""
                    ios.systemIcon="16" ios.position="right"
                    text="delete" android.position="popup"></ActionItem>-->
        <!--<NavigationButton android.systemIcon="ic_menu_share" (tap)="openDrawer()"></NavigationButton>-->
    </ActionBar>
    <RadSideDrawer [drawerLocation]="currentLocation" tkExampleTitle tkToggleNavButton row="1">
        <StackLayout tkDrawerContent class="sideStackLayout">
            <StackLayout class="sideTitleStackLayout">
                <Label text="Navigation Menu"></Label>
            </StackLayout>
            <StackLayout class="sideStackLayout">
                <Label text="Dashboard" [nsRouterLink]="['/']" nsRouterLinkActive="active" [nsRouterLinkActiveOptions]="{exact:true}" class="sideLabel"></Label>
                <Label text="Social" class="sideLabel"></Label>
                <Label text="Promotions" class="sideLabel"></Label>
                <Label text="Labels" class="sideLabel"></Label>
                <Label text="Important" class="sideLabel"></Label>
                <Label text="Starred" class="sideLabel"></Label>
                <Label text="Sent Mail" class="sideLabel"></Label>
                <Label text="About" [nsRouterLink]="['/about']" nsRouterLinkActive="active" class="sideLabel"></Label>
            </StackLayout>
        </StackLayout>
        <StackLayout tkMainContent>
            <router-outlet></router-outlet>
        </StackLayout>
    </RadSideDrawer>
</GridLayout>